* {
	border: none;
	border-radius: 10px;
  font-family: Sarasa UI SC Nerd Font,SauceCodePro nerd Font;
  min-height: 0;
  font-size: 10px;
  margin: 0.5px;
  
}

window#waybar {
  transition-duration: 0.9s;
  background-color: #3d3b4f;
  border: 0.4px solid white;
  opacity: 0.98;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 4px;
  margin-bottom: 8px;
  padding-bottom: 8px;
  padding-top: 2px;
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 10px;
}

#workspaces  {
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 10px;
    margin-left: 6px;
    color: #161320;
    transition: none;
    background: #f2be45;
}



#tags {
	margin-top: 2px;
	margin-left: 12px;
	margin-bottom: 2px;
	border-radius: 10px;
	background: #f2be35;
	transition: none;
}

#tags button {
	transition: none;
	color: #B5E8E0;
	background: transparent;
	border-radius: 2px;
}

#tags button.occupied {
	transition: none;
	color: #F28FAD;
	background: transparent;
}

#tags button.focused {
	color: #ABE9B3;
    border-top: 2px solid #ABE9B3;
    border-bottom: 2px solid #ABE9B3;
}

#tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #FAE3B0;
    border-color: #E8A2AF;
    color: #E8A2AF;
}

#tags button.focused:hover {
    color: #E8A2AF;
}

#network {
	margin-top: 2px;
	margin-left: 12px;
  margin-right: 12px;
	padding-left: 16px;
	padding-right: 18px;
	margin-bottom: 2px;
	border-radius: 10px;
	transition: none;
	color: #3b2e7e;
	background: #c1c1c1;
}

#temperature {
    margin-top: 2px;
    margin-left: 4px;
    padding-left: 8px;
    padding-right: 0px;
    margin-right: 4px;
    margin-bottom: 2px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #bd93f9;
}

#temperature.critical {
    background-color: #eb4d4b;
}



#pulseaudio {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 2px;
	border-radius: 10px;
	transition: none;
	color: #1A1826;
	background: #FAE3B0;
}

#battery {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 2px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #B5E8E0;
}

#battery.charging, #battery.plugged {
	color: #161320;
    background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 2px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #F8BD96;
}
#clock {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 2px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #ABE9B3;
	/*background: #1A1826;*/
}

#memory {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 2px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #DDB6F2;
}
#cpu {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 2px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #96CDFB;
}

#tray {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 2px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #19f1db;
	background: #f7e8aa;
}


#custom-launcher {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
    color: #89DCEB;
    background: #161320;
}

#custom-power {
  font-size: 12px;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 4px;
	border-radius: 18px;
	transition: none;
	color: #161320;
	background: #f2be45;
}

#custom-wallpaper {
	margin-top: 2px;
	margin-right: 2px;
	margin-left: 2px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 2px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #C9CBFF;
}

#custom-screenshot {
  margin-top: 2px;
  margin-right: 2px;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 8px;
  padding-right: 8px;
  transition: none;
  color: #161320;
  background: #c9cbff;
}

#custom-updates {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 2px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #E8A2AF;
}

#custom-media {
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 2px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #F2CDCD;
}
